<a href="https://colab.research.google.com/github/varshith-k31/ML_23AG1A66F4/blob/main/data_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [53]:
import pandas as pd
data=pd.read_csv('dataset.csv')
data.head()

     Name  Age  Gender  Marks      City
0   Alice  18.0      F   85.0    London
1     Bob   NaN      M   90.0  New york
2  Canthy  19.0      F   95.0       NaN
3   David  17.0      M   72.0    Sydney
4     Eva  18.0      F    NaN    London

In [ ]:
data.fillna({
    'Age':data['Age'].mean(),
    'Marks':data['Marks'].mean(),
    'City':'Unknown'
}, inplace=True)

print(data)

In [ ]:
import pandas as pd
df=pd.DataFrame({
    'Name':['john','Alica'],
    'Age':['25','30'],
    'Salary':['50000','60000']

})
print(df.dtypes)

Name      object
Age       object
Salary    object
dtype: object

In [ ]:
df['Age']=df['Age'].astype(int)
df['Salary']=df['Salary'].astype(float)
print(df.dtypes)

Name       object
Age         int64
Salary    float64
dtype: object

In [ ]:
df['Age']=pd.to_numeric(df['Age'],errors='coerce')
print(df.dtypes)

Name      object
Age        int64
Salary    object
dtype: object

In [55]:
import pandas as pd
data=pd.read_csv('dataset.csv')
data.head()
data['Gender']=data['Gender'].map({'F':0,'M':1})
print(data)

     Name  Age   Gender  Marks      City
0   Alice  18.0       0   85.0    London
1     Bob   NaN       1   90.0  New york
2  Canthy  19.0       0   95.0       NaN
3   David  17.0       1   72.0    Sydney
4     Eva  18.0       0    NaN    London

In [ ]:
data=pd.get_dumies(data,columns=['City'])